html {box-sizing:border-box;}
*,* :after, *:before {box-sizing:inherit;}

.octocat>a>img {
	width: 250px;
	border:1px solid rgb(190,190,190) ;
	font-family: sans-serif;
	font-size: 12px;
	
}


.octodex {display: flex;
	flex-direction: center;

}

.octodex > li {
	margin:10px;
}

.image-number {font-size: 10px; 
	color: rgb(190,190,190);
	font-weight:bold;

}

.image-number::before{content: "#"}




.image-caption>a {text-decoration: none;
color:black;
font-size: 10px;
font-weight: bold;
}



li {list-style:none;}

.authors>li>a>img {width:18px; 
	justify-content: flex-end;

}
.image-footer {display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgb(190,190,190);
	
}
	

.image-caption{display: flex;
justify-content: flex-end;
font-size: 10px;
font-family: sans-serif; 
font-weight:bold;
color:gray;
margin:10px;

}

.image-caption span {padding: 0 02px; 
 
}

.authors {
	padding:0;


}








